.card.mb-3 {
    display: flex;
    align-items: center;
    #card2 {
        flex-direction: row-reverse;
    }
}

.col-md-4 {
    padding: 10%;
    img {
        border: 1px solid rgb(26, 25, 25);
    }
}

//mixin
.card-body {
    @include flex (column,center);
} 

