/* Header */
header{
    .container-fluid { 
        a {
            font-weight: bold;
        }

        .btn { 
            a {
                text-decoration: none;
                color: #f9f9f9;
            }
        }
    }
}