/* Unete */
.main_unete {    
    margin-bottom: 150px;
    .col {
        display: flex;
        justify-content: center;
        .contenedor_form {
            background-color: rgba(149, 149, 149, 0.105);
            padding: 10%;
        }
    }
    iframe {
        padding: 15%;
    }
}





